[submodule "nerdtree"]
	path = nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "bbye"]
	path = bbye
	url = https://github.com/moll/vim-bbye.git
[submodule "vim-buffergator"]
	path = vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
